* {
    font-family: $font1;

    &:focus {
        outline: none !important;
    }
}

.frontpage {

    .start {
        display: none;
        width: 80%;
        position: fixed;
        top: 30%;
        left: 10%;
        text-align: center;

        h1 {
            font-weight: 300;
            font-family: $font1;
            letter-spacing: 4px;
            line-height: 50px;
            margin: 25px 0;
            transition: .5s;
        }// h1

        .btn-success {
            background: $green;
            border: 0;
            border-radius: 50px;
            font-weight: bold;
            letter-spacing: 2px;
            padding: 10px 35px;
            transition: .5s;

            &:hover {
                background: $smoke;
                color: $midnight;
            }// pseudoclass
        }// .btn-success
    }// .start

}