.tabs-witged {
    width: 80%;
    position: fixed;
    top: 15%;
    left: 10%;

    h1 {
        font-weight: 300;
        letter-spacing: 4px;
        text-align: center;
        margin: 25px 0 70px 0;
    }// h1

    .list-inline {
        margin-left: 0;
    }

    .tab-header {
        border-bottom: 5px solid $green;
        margin-bottom: 0;
        @include clearfix;

        li {
            margin-bottom: 7px;
            padding: 0;

            a.active {
                
                border: 5px solid $green;
                border-bottom: 0;
                background: $white;
                border-top-right-radius: 5px;
                border-top-left-radius: 5px;
                padding: 14px 15px;

                &:hover {
                    background: $white;
                }
            }// a.active

            a {
                text-decoration: none;
                padding: 18px 15px 9px 15px;
                color: $midnight;

                &:hover {
                    background: $smoke;
                    border-top-right-radius: 5px;
                    border-top-left-radius: 5px;
                }
            }// a
        }// li
    }// .tab-header

    .tab-contents {

        .item {
            position: relative;
            display: none;
            border: 5px solid $green;
            border-top: 0;
            padding: 15px 0 35px 15px;
        }// .item

        .item.active {
            display: block;
        }
    }// .tab-contents
}// .tabs-witged